# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry environment
.venv/
poetry.lock

# Flask-Specific
instance/
*.db
*.sqlite3

# Environment variables
.env
.env.*

# Editor/IDE specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
